* {
    margin: 0;
    padding: 0;
}

/* Sneaker logo in nav */
.company-logo {
    margin: 40px;
    padding-left: 80px;
}

/* Nav */
nav {

    display: flex;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
    padding-top: 43px;
}
li a {
    padding: 8px;
    text-decoration: none;
    color: hsl(219, 9%, 45%);
}

/* How do I shift cart and avatar to right side of page? */

.container {
    height: auto;
    overflow: hidden;
    background-color: aqua;
    margin-left: 150px;
    margin-top: 150px;
}

.right {
    width: 180px;
    float: right;
    background-color: blue;
}

.left {
    float: none;
    width: auto;
    overflow: hidden;
    background-color: pink;
}

.current-pic {

}
.produc-pics {
    border-radius: 25px;
}
